[submodule "openstack"]
	path = openstack
	url = git@github.com:eth-cscs/openstack.git
[submodule "dvc_utils/encfs_scripts/encfs"]
	path = data/dvc_tools/encfs_scripts/encfs
	url = git@github.com:HPC-PREDICT/encfs
